.title {
    text-align: center;
}

.lato-font {
    font-family: "Lato", sans-serif;
}

.ubuntu-font {
    font-family: "Ubuntu", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background-color: rgb(22, 32, 36);
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    list-style: none;
}

.source-title {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
}